# Database Configuration (MAIN)
DB_SERVER=YOUR_SERVER\YOUR_INSTANCE
DB_NAME=YOUR_MAIN_DATABASE
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_PORT=1433

# Secondary Database (External / ERP)
MIERP_SERVER=YOUR_SERVER\YOUR_INSTANCE
MIERP_DB=YOUR_SECOND_DATABASE
MIERP_USER=YOUR_SECOND_DB_USER
MIERP_PASSWORD=YOUR_SECOND_DB_PASSWORD
MIERP_PORT=1433

# Session
SESSION_SECRET=generate_a_random_string_here

# App Configuration
APP_PORT=3000
BASE_URL=http://localhost:YOUR PORT

# Email Configuration
EMAIL_HOST=YOUR_SMTP_HOST
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=YOUR_EMAIL_ADDRESS
EMAIL_PASS=YOUR_EMAIL_PASSWORD
EMAIL_FROM=YOUR_EMAIL_ADDRESS
